<!-- The edit objective dialog -->
<!-- (c) Simon Logan 2018 -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <link rel="stylesheet" href="../../assets/styles/main.css">
    <link rel="stylesheet" href="../../assets/styles/editItem.css">
</head>
<body>
    <p class="title">Edit Objectives</p>

    <div class="formbody" style="height: 195px;">
        <form>
                <fieldset>
                    <dl>
                        <div id="objectiveChoicePanel" style="padding: 5px;">
                            <div><div class="label">Objective:</div><div class="inputField"><select id="objectiveChoice"></select></div></div>

                        </div>
                    </dl>
                    <dl>
                        <div id="objectiveParamsPanel"></div>
                    </dl>
                </fieldset>
        </form>
    </div>

    <div id="buttonContainer">
        <button id="cancelBtn">Cancel</button>
        <button id="saveBtn">Save</button>
    </div>

    <script type="text/javascript" src="../../node_modules/jquery/dist/jquery.js"></script>
    <script src="../../assets/js/realmEditor/editObjective.js"></script>
</body>
</html>