<!-- The edit objective dialog -->
<!-- (c) Simon Logan 2018 -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <link rel="stylesheet" href="../../assets/styles/main.css">
    <link rel="stylesheet" href="../../assets/styles/editItem.css">
</head>
<body>
    <p class="title">Edit Objectives</p>

    <div class="formbody">
        <!--
        <div><div class="label">Name:</div><div class="inputField"><input id="itemName"></div></div>
        <div><div class="label">Type:</div><div class="inputField"><input id="itemType" readonly></div></div>
        <div><div class="label">Description:</div><div class="inputField"><textarea id="itemDescription" style="width: 320px; height: 80px;"></textarea></div></div>
        <div><div class="label">Damage:</div><div class="inputField"><input id="itemDamage"></div></div>
        -->

    </div>

    <div id="buttonContainer">
        <button id="cancelBtn">Cancel</button>
        <button id="saveBtn">Save</button>
    </div>

    <script type="text/javascript" src="../../node_modules/jquery/dist/jquery.js"></script>
    <script src="../../assets/js/realmEditor/editObjective.js"></script>
</body>
</html>