#gameList, #gameInstanceList {
   margin-top: 20px;
   margin-bottom: 20px;
}

div.inputRow {
    padding-bottom: 5px;
}

label.inputLabel {
    width:100px;
    display:inline-block
}

.panelStyle {
    margin-top: 20px;
}

#gameDesignsTitle {
    margin-bottom: 10px;
}

.gameDetails {
    margin-bottom: 20px;
}

#pageTitle {
    margin-top: 10px;
}

#gameNameContainer {
    float:left;
    margin-right:10px;
}

#gameDescriptionContainer {
    margin-top: 10px;
}

#instanceTable {
    margin-top: 10px;
}
