#gameList, #gameInstanceList {
   margin-top: 20px;
   margin-bottom: 20px;
}

div.inputRow {
    padding-bottom: 5px;
}

label.inputLabel {
    width:100px;
    display:inline-block
}

.panelStyle {
    margin-top: 20px;
}

.gameDetails {
    margin-bottom: 20px;
}

#pageTitle {
    margin-top: 10px;
}
