<!-- The player name dialog -->
<!-- (c) Simon Logan 2019 -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <link rel="stylesheet" href="../../assets/styles/main.css">
    <link rel="stylesheet" href="../../assets/styles/editPlayerName.css">
</head>
<body>
    <p class="title">Specify player name</p>

    <div class="formbody">
        <div><div class="label">Name:</div><div class="inputField"><input id="itemName"></div></div>
    </div>

    <div id="buttonContainer">
        <button id="cancelBtn">Cancel</button>
        <button id="saveBtn">Save</button>
    </div>

    <script type="text/javascript" src="../../node_modules/jquery/dist/jquery.js"></script>
    <script src="../../assets/js/playGame/playerName.js"></script>
</body>
</html>